@charset "UTF-8";
/*就会在LESS和CSS中显示*/
.conten ul {
  list-style: none;
}
.conten li {
  height: 25px;
  line-height: 25px;
  padding-left: 15px;
  background: url("arr.jpg") no-repeat center left;
}
.conten li a {
  text-decoration: none;
  color: #535353;
  font-family: microsoft yahei, "����", Arial, Simsun, "Arial Unicode MS", Mingliu, Helvetica;
}
